<h1> Routing tutorial </h1>
<!-- <ul>
    <li><a routerLink="user">user</a> </li>
    <li><a routerLink="login">login</a></li>
</ul> -->

<h1> Custom directive</h1>

<h2 appCustomStyle>Custom Heading using custom directive</h2>

<h1>Pipes in Angular</h1>
<h4>{{ str | slice:6 }}</h4>
<h4>{{today | date:'fullDate'}}</h4>
<h4>{{name | titlecase }}</h4>
<h4>{{money | currency:'INR'}}</h4>

<h1>Lazy loading group module</h1>
<h2>Admin Links</h2>
<ul>
    <li><a routerLink="admin/list">list</a> </li>
    <li><a routerLink="admin/login">login</a></li>
</ul>

<router-outlet></router-outlet>

<h1>Lazy loading components</h1>
<button (click)="loadUser()">Load User Component</button>